# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Log files
logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
